.graphic {
    height: 40rem;
    width: 60rem;
}

.landingTitle {
    font-family: 'Outfit', sans-serif;
    font-size: 5rem;
    color: #A214FF;
}


.description {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
}

.seconddescription {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;

}
